
/*Header */
.main-header {
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    height: 50px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.26);
    z-index: 5;
    padding: 0 1rem;
    color: white !important;
    background-color: rgb(3, 156, 216);
  }
  .app-title {
    margin-left: 20px;
    cursor: pointer;
  }
  .app-title:hover {
    color: aquamarine;
  }
  
  /*Navlinks*/
  .nav-links {
      list-style: none;
      margin: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
  }
  .nav-links li {
    margin: 1rem;
  }
  
.nav-links a {
    /* border: 1px solid transparent; */
    text-decoration: none;
    padding: 0.5rem;
  }
.ps-right {
   float: right;
   left: 200px !important; 
}
/*Search bar header */
.header__search-bar {
  width: 100%;
  position: relative;
  display: flex;
}
.header__search-input {
  border: 3px solid #bd8f54;
  width: 400px;
  padding: 5px;
  font-size:large ;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: aliceblue;
}
.header__search-input:focus {
  color: #000000;
}
.search-button {
  width: 40px;
  height: 36px;
  border: 1px solid #726943;
  background: #a19d5b;
  text-align: center;
  text-decoration: none;
  color: rgb(0, 0, 0);
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}
.search-button:focus {
  border-color: gray;
}
